body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(46, 46, 46);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav ul {
    border-top: 6px solid #3a77d3;
    background-color: black;
    list-style-type: none;
}

nav ul li a {
    color: #3a77d3;
    padding: 15px 20px;
    text-align: right;
    display: block;
    font-size: 20px;
    text-decoration: none;
}

nav ul a:hover {
    color: white;
}


/**side bar**/

.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: black;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.sidebar a {
    display: block;
    color: #3a77d3;
    padding: 40px;
    text-decoration: none;
}

.sidebar a.active {
    background-color: #3a77d3;
    color: white;
}

.sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
}

@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }
    .sidebar a {
        float: left;
    }
}

@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
}

.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
    color: #3a77d3;
}

th{
    color: #e6b516;
}

td{
    color: #dcf164 ;
    
}

